@import '../../styles/mixins';
@import '../../styles/variables';



.react-multi-carousel-list  {
    @include for-laptop{
        justify-content: center;
    }
}
.react-multiple-carousel__arrow{
    z-index: 0;
}
.react-multi-carousel-track{

    gap:1rem;
    justify-content: center;
    @include for-tablet{
        gap:1.5rem;
    }
    @include for-laptop{
        width: 100%;
    }
}

.react-multi-carousel-item:nth-child(3){
    opacity: .5;
    .cardContainer{
        .cardDescriptionContainer{
            .cardButton{
                background-color: none;
            }
        }
    }
}
.react-multi-carousel-item{
    
    background-color: #F5C8C7;
    @include for-tablet{
        max-width: 330px;
    }
    @include for-laptop{
        max-width: 380px;
    }
}

.cardContainer{
    height: 100%;
    
    .cardDescriptionContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        gap:1.5rem;
        padding: 1.5rem;

        
        .cardTitle{
            font-size: 1.5rem;
            color:#633232;
            line-height: calc(30/16) + rem;
            font-weight: bold;
            
        }
        .cardDesc{
            display: -webkit-box;
            line-clamp: 4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .cardButton{
            justify-self: flex-end;
            font-weight: 600;
            background-color: #D4AF37;
            color:white;
            border-radius: .5rem;
            width:fit-content;
            padding: .87rem 2.5rem;
        }
        .comingSoonBtn{
            padding: .87rem 0;
        }

        .cardButton:hover{
            background-color: #d4b652;
            cursor: pointer;
        }
    }
    img{
        width: 100%;
    }

    
}