@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

$font-fam-body:'Montserrat', sans-serif;
$font-fam-heading: 'Great Vibes', sans-serif;
$font-size-mobile: calc(14/16) + rem;
$font-size-tablet: 1rem;  
